*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(180deg, #4f7cc8 0%, #2a4f8f 60%, #1e355f 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-checker{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checker{
    background: #ffffff;
    width: 350px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.checker h2{
    margin-bottom: 15px;
    font-size: 22px;
    color: #0f172a;
}

.password{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #cbd5e1;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.password:focus{
    border-color: #2563eb;
}

/* button{
    width: 100%;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 12px;
}

button:hover{
    background: #1e40af;
} */

.message{
    margin-bottom: 12px;
    font-size: 14px;
    color: #0f172a;
}

.strength{
    font-weight: bold;
}

.bar{
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    margin-bottom: 12px;
}

#strengthBar{
    height: 100%;
    width: 0%;
    background: red;
    border-radius: 5px;
    transition: 0.3s;
}

#strengthText{
    margin-bottom: 12px;
    font-size: 14px;
    color: #0f172a;
    text-align: left;
}

ul{
    padding-left: 18px;
    font-size: 13px;
    text-align: left;
}

li{
    margin: 5px 0;
}
